# System files
.DS_Store
.env
.vscode

# Keep directories but ignore contents
/data/*
!/data/.gitkeep

/metrics/*
!/metrics/.gitkeep

/store/*
!/store/.gitkeep

/pdfs/*
!/pdfs/.gitkeep

/checkpoints/*
!/checkpoints/.gitkeep